<html>
    <body>
        <h1>Welcome To Node Express Using Pug/Jade[H3]</h1>
        <p><%=Label%></p>
        <ul>
            <%for(var index=0;index<Friends.length;index++){%>
                <li><%=Friends[index]%></li>
            <%}%>
        </ul>
    </body>
</html>