html
    head
        title Welcome To Node Express Using Pug/Jade
    body(class=["BodyClass"])
        h3(id="H3SubId") Welcome To Node Express Using Pug/Jade[H3]
        p=Label
        ul
            each name in Friends
                li=name
